body {
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

h1 {
    font-size: 50px;
    color: white;
    font-weight: normal;
}
.link {
    color: aquamarine;
    font-size:16px;
}

h2 {
    font-size: 42px;
    font-weight: 300;
    color: white;
}

.description {
    color: gray;
    font-size: 21px;
}

.copywright {
    color: gray;
    text-align: right;
    font-size: 20px;
}